<div id="sidebar" class="sidebar">
    <button id="toggle-btn">☰</button>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/Main_Page/' | relative_url }}">Labs</a></li>
        <li><a href="{{ '/Labs/AzureFrontDoorAPIMAppServiceLab1/' | relative_url }}">Lab 1 - Front Door/APIM</a></li>
        <li><a href="{{ '/Labs/ContainersinAppServiceLab2/' | relative_url }}">Lab 2 - Containers</a></li>
        <li><a href="{{ '/Labs/BrainstormingApp/' | relative_url }}">Lab 3 - Brainstorming</a></li>
      </ul>
    </nav>
  </div>